body {
  font-family: 'Anek Bangla', sans-serif;
}
h3 { color: #842029;
}

/* Hero Section */

#Hero-Section {
  background-image: url("../img/bg-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}
.navbar-dark .navbar-nav .nav-link {
  color: #f9fafb;
}
button.btn.btn-lg.btn-outline-info.text-light.me-4 {
  background-color: #842029;
  border-color: #ca700a;
}
.btn-info:hover {
  background-color: #842029;
  border-color: #ca700a;
}

button.btn.btn-lg.btn-info.text-light {
  background-color: #842029;
  border-color: #ca700a;
}

/* Mis trabajos */

#Mis-trabajos .image-top {
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.btn-outline-info {
  color: #f8f9fa;
  background-color:#842029;
  border-color: #ca700a;
} 
.btn-outline-info:hover {
  color: #f8f9fa;
  background-color:#842029;
  border-color: #ca700a;

  

/* Contacto */

#Contacto form label {
  font-weight: 700;
  color: #090b0c;
}

button.btn.btn-info.text-light {
  background-color: #842029;
  border-color: #ca700a;
}

@media (max-width: 768px) {
  #Contacto form label {
    font-weight: 400;
  }

  .navbar-brand{
    width: 100px;
  }